<div>
    <div class="title">
        <h1>Cadastro de Cidade</h1>
    </div>

    <form #formulario="ngForm" (ngSubmit)="salva(formulario)" autocomplete="off">
        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="nome" class="label-bold">Nome</label>
                <input type="text" name="nome" [(ngModel)]="cidade.nome" class="form-control">
            </div>
            <div class="form-group col-md-4">
                <label for="Estado" class="label-bold">Estado</label>
                <select id="estado" name="estado" [(ngModel)]="cidade.estado" class="form-control">
                    <option value="" selected>Selecione</option>
                    <option value="CE">Ceará</option>
                    <option value="PE">Pernambuco</option>
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-success">Salvar</button>
        <button type="button" class="btn btn-link">Voltar a Pesquisa</button>
    </form>
</div>
